@import '../../constants/themeTokens.module.scss';

.dropdown {
  border: 0.5px solid #cccccc;
  border-radius: 4px;
  font-size: 16px;
  font-weight: bold;
  box-sizing: border-box;
  width: 120px;
  display: flex;
  flex-direction: column;
  background-color: $dropdown-background;
}

.dropdownHeaderWrapper{
  display: flex;
  align-items: center;
  justify-content: center;
}

.dropdownHeader {
  padding: 10px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dropdownBody {
  border: 1px solid #E5E8EC;
  display: none;
  text-align: center;
  z-index: 1;
}

.dropdownBody.open {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  border: 0.5px solid #cccccc;
  width: 100%;
}

.dropdownItem {
  padding: 10px;
}

.dropdownItem:hover {
  cursor: pointer;
}

.dropdownItemDot {
  opacity: 0;
  color: #91A5BE;
  transition: all .2s ease-in-out;
}

.dropdownItemDot.selected {
  opacity: 1;
}

.icon {
  font-size: 13px;
  color: #91A5BE;
  transform: rotate(0deg);
  transition: all .2s ease-in-out;
}

.icon.open {
  transform: rotate(90deg);
}