.dropdownWrapper{
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: absolute;
  div{
    background-color: inherit;


  }
}

button{
  margin-top: 70px;
  height: 50px;
  width: 120px;

}