.CharacterCard{
  width: 750px;
  height: 500px;
  margin: 10px auto;
  text-align: center;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
  img{
    height: 500px;
    width: auto;
  }
  .CharacterName{
    font-size: 20px;
    font-weight: bold;
  }
}
.CharacterInfo{
  height: 100%;
  box-sizing: border-box;
  margin-top: 5px;
  padding: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  div{
    margin: 2px;
  }

}